$primary-color: #F1CDB3;
$primary-light-color: #FDDCC4;
$white-color: #FFFFFF;
$grey-light-color: #CDCDCD;
$milky-color: #FAFAFA;
$milky-light-color: #F6F6F6;
$dark-color: #292929;
$dark-light-color: #545454;
$dark-middle-color: #4C4C4C;

@font-face {
  font-family: 'Arial_Normal';
  src: url('../../fonts/arial.woff2') format("woff2"),
    url('../../fonts/arial.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Georgia_Normal';
  src: url('../../fonts/georgia.woff2') format("woff2"),
    url('../../fonts/georgia.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}