.wrap {
  &.dark {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
  }

  &.light {
    background: $milky-light-color;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 40px 0 40px;

  &.container_block {
    padding: 80px 40px 100px 40px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;


  .button {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 100%;
    color: $dark-color;
    font-family: 'Georgia_Normal';
    font-size: 17px;
    line-height: 130%;
    cursor: pointer;

  }
}

.title {
  font-family: 'Georgia_Normal';
  line-height: 130%;
  width: 100%;

  &.title_block {
    font-size: 35px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $dark-light-color;
    max-width: 400px;
  }

  &.title_help {
    max-width: 310px;
  }

  &.title_donate {
    text-align: start;
    max-width: 300px;
  }
}

.text {
  font-family: 'Arial_Normal';
  font-size: 15px;
  line-height: 160%;
  width: 100%;
}