*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  font-size: 14px;
  line-height: 1;
  height: 100%;
}

input[type=text],
input[type=search] input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
button,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: "Arial_Normal";
  src: url("../../fonts/arial.woff2") format("woff2"), url("../../fonts/arial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Georgia_Normal";
  src: url("../../fonts/georgia.woff2") format("woff2"), url("../../fonts/georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
.wrap.dark {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.wrap.light {
  background: #F6F6F6;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 40px 0 40px;
}
.container.container_block {
  padding: 80px 40px 100px 40px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button-container .button {
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  width: 100%;
  color: #292929;
  font-family: "Georgia_Normal";
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
}

.title {
  font-family: "Georgia_Normal";
  line-height: 130%;
  width: 100%;
}

.text {
  font-family: "Arial_Normal";
  font-size: 15px;
  line-height: 160%;
  width: 100%;
}

@font-face {
  font-family: "Arial_Normal";
  src: url("../../fonts/arial.woff2") format("woff2"), url("../../fonts/arial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Georgia_Normal";
  src: url("../../fonts/georgia.woff2") format("woff2"), url("../../fonts/georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.header .logo .logo__title {
  font-family: "Georgia_Normal";
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}
.header .logo .logo__subtitle {
  font-family: "Arial_Normal";
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}

.navigate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navigate__list .navigate__item:active ::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  background: #F1CDB3;
}
.navigate__list .navigate__link {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  cursor: pointer;
  position: relative;
  display: block;
}
.navigate__list .navigate__link:hover {
  color: #FAFAFA;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 850px) {
  .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 100px;
  }
}
.welcome.welcome_modifier {
  padding: 90px 0 0 0;
}
@media screen and (max-width: 850px) {
  .welcome.welcome_modifier {
    padding: 60px 0 0 0;
  }
}
.welcome .welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 42px;
}
.welcome .welcome__content .title_welcome {
  font-size: 44px;
  color: #FFFFFF;
  max-width: 310px;
}
.welcome .welcome__content .text_welcome {
  color: #CDCDCD;
  max-width: 460px;
}
.welcome .welcome__image img {
  max-width: 100%;
}

.button-container.button-container_welcome {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media screen and (max-width: 850px) {
  .button-container.button-container_welcome {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.button-container.button-container_welcome .button.button_welcome {
  max-width: 207px;
  background: #F1CDB3;
}
.button-container.button-container_welcome .button.button_welcome:hover {
  background: #FDDCC4;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.about .about__image img {
  max-width: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  max-width: 430px;
  width: 100%;
}
.about__content .title_about {
  font-size: 35px;
  color: #545454;
  letter-spacing: 0.06em;
  max-width: 370px;
}
.about__content .text_about {
  color: #4C4C4C;
}