*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  font-size: 14px;
  line-height: 1;
  height: 100%;
}

input[type=text],
input[type=search] input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
button,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: "Arial_Normal";
  src: url("../../fonts/arial.woff2") format("woff2"), url("../../fonts/arial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Georgia_Normal";
  src: url("../../fonts/georgia.woff2") format("woff2"), url("../../fonts/georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
.wrap.dark {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.wrap.light {
  background: #F6F6F6;
}
.wrap.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 40px 0 40px;
}
.container.container_block {
  padding: 80px 40px 100px 40px;
}
.container.container_footer {
  padding: 40px 40px 0 40px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.button-container .button {
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  width: 100%;
  color: #292929;
  font-family: "Georgia_Normal";
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;
}

.title {
  font-family: "Georgia_Normal";
  line-height: 130%;
  width: 100%;
}
.title.title_block {
  font-size: 35px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  max-width: 400px;
}
.title.title_help {
  max-width: 310px;
}
.title.title_donate {
  text-align: start;
  max-width: 300px;
}
.title.title_footer {
  text-align: start;
  color: #FFFFFF;
}

.text {
  font-family: "Arial_Normal";
  font-size: 15px;
  line-height: 160%;
  width: 100%;
}

@font-face {
  font-family: "Arial_Normal";
  src: url("../../fonts/arial.woff2") format("woff2"), url("../../fonts/arial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Georgia_Normal";
  src: url("../../fonts/georgia.woff2") format("woff2"), url("../../fonts/georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.header .logo .logo__title {
  font-family: "Georgia_Normal";
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}
.header .logo .logo__subtitle {
  font-family: "Arial_Normal";
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}

.navigate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navigate__list .navigate__item:active ::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  background: #F1CDB3;
}
.navigate__list .navigate__link {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  cursor: pointer;
  position: relative;
  display: block;
}
.navigate__list .navigate__link:hover {
  color: #FAFAFA;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 850px) {
  .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 100px;
  }
}
.welcome.welcome_modifier {
  padding: 90px 0 0 0;
}
@media screen and (max-width: 850px) {
  .welcome.welcome_modifier {
    padding: 60px 0 0 0;
  }
}
.welcome .welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 42px;
}
.welcome .welcome__content .title_welcome {
  font-size: 44px;
  color: #FFFFFF;
  max-width: 310px;
}
.welcome .welcome__content .text_welcome {
  color: #CDCDCD;
  max-width: 460px;
}
.welcome .welcome__image img {
  max-width: 100%;
}

.button-container.button-container_welcome {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media screen and (max-width: 850px) {
  .button-container.button-container_welcome {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.button-container.button-container_welcome .button.button_welcome {
  max-width: 207px;
  background: #F1CDB3;
}
.button-container.button-container_welcome .button.button_welcome:hover {
  background: #FDDCC4;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.about .about__image img {
  max-width: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  max-width: 430px;
  width: 100%;
}
.about__content .title_about {
  font-size: 35px;
  color: #545454;
  letter-spacing: 0.06em;
  max-width: 370px;
}
.about__content .text_about {
  color: #4C4C4C;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-container.button-container_catalog {
  max-width: 261px;
}
.button-container.button-container_catalog .button.button_catalog {
  background: #F1CDB3;
}
.button-container.button-container_catalog .button.button_catalog:hover {
  background: #FDDCC4;
}

.slider .slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 53px;
     -moz-column-gap: 53px;
          column-gap: 53px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slider__wrap {
  display: inline-block;
  max-width: 990px;
  overflow: hidden;
}
.slider .slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider .slider__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  min-height: 435px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAFA;
}
.slider .slider__card .card__title {
  font-family: "Georgia_Normal";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.slider .slider__card .button-container_card {
  max-width: 187px;
}
.slider .slider__card .button-container_card .button_card {
  border: 2px solid #F1CDB3;
}
.slider .slider__card .button-container_card .button_card:hover {
  background: #F1CDB3;
}

.slider__button {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}
.slider__button.slider__button_prev {
  background: url(../../assets/icon/catalog/slider-prev.svg) center center/14px no-repeat;
}
.slider__button.slider__button_next {
  background: url(../../assets/icon/catalog/slider-next.svg) center center/14px no-repeat;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
}

.help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1030px;
  width: 100%;
  row-gap: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.help-list__item img {
  width: 60px;
  height: 60px;
}
.help-list__item .help-list__title {
  font-family: "Georgia_Normal";
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 60px;
}

.donate__content {
  max-width: 380px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.donate__subtitle {
  font-family: "Georgia_Normal";
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donate__text {
  font-family: "Arial_Normal";
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.donate__button {
  max-width: 349px;
  width: 100%;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.donate__button img {
  max-width: 30px;
  width: 100%;
}
.donate__button button {
  font-family: "Georgia_Normal";
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  background: #F1CDB3;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  width: 100%;
  padding: 56px 0 0 0;
}
.footer__content.footer__content_left {
  max-width: 280px;
}
.footer__content.footer__content_right {
  max-width: 302px;
  row-gap: 33px;
}

.footer__info.footer__email ::before {
  content: "";
  display: inline-block;
  background: url(../../assets/icon/mail.svg) no-repeat;
  width: 40px;
  height: 26px;
}
.footer__info.footer__phone ::before {
  content: "";
  display: inline-block;
  background: url(../../assets/icon/phone.svg) no-repeat;
  width: 40px;
  height: 32px;
}
.footer__info.footer__location ::before {
  content: "";
  display: inline-block;
  background: url(../../assets/icon/pin.svg) no-repeat;
  width: 22px;
  height: 32px;
}

.footer__link {
  font-family: "Georgia_Normal";
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer__image img {
  max-width: 100%;
}