@font-face {
  font-family: "Arial_Normal";
  src: url("../../fonts/arial.woff2") format("woff2"), url("../../fonts/arial.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Georgia_Normal";
  src: url("../../fonts/georgia.woff2") format("woff2"), url("../../fonts/georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.header .logo .logo__title {
  font-family: "Georgia_Normal";
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
}
.header .logo .logo__subtitle {
  font-family: "Arial_Normal";
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.navigate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navigate__list .navigate__item:active ::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  background: #F1CDB3;
}
.navigate__list .navigate__link {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  cursor: pointer;
  position: relative;
  display: block;
}
.navigate__list .navigate__link:hover {
  color: #FAFAFA;
}